[user]
	name = alitaso345
	email = alice.maru345@gmail.com

[core]
  editor = "/usr/local/bin/vim"

[color]
  ui = true
  diff = true

[alias]
  st = status -sb
  ci = commit --verbose

[grep]
  lineNumber = true
